.nav-bar {
  position: fixed;
  top: 0;
  height: $nav-height;
  z-index: 100;
  width: 100%;
  background-color: #e5e5e5;
  box-shadow: 0 0 5px $light-grey;
}

.main-nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  a {
    color: $dark-grey;
  }
  li {
    margin: 0 10px;
  }
}

.logo {
  margin: 0 20px;
}

.social {
  position: absolute;
  right: 0;
  padding: 0 20px;
  text-transform: none; // remove later
  ul {
    list-style-type: none;
  }
  li {
    float: left;
    margin: 0 5px;
  }
}
