.nav-bar {
  position: fixed;
  top: 0;
  height: $nav-height;
  z-index: 100;
  width: 100%;
  background-color: #e5e5e5;
  box-shadow: 0 0 5px $light-grey;
}

.main-nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  a {
    color: $dark-grey;
  }
  li {
    margin: 0 10px;
  }
}

.menu {
  position: absolute;
  left: 0;
  ul {
    list-style-type: none;
    background-color: $white;
    opacity: 0;
    transition: all .2s ease-in;
    padding: 10px 0;
    border-radius: 5px;
  }
  &:hover {
    ul {
      opacity: 1;
    }
  }
}

.logo {
  margin: 0 20px;
}

.social {
  position: absolute;
  right: 0;
  padding: 0 0;
  text-transform: none; // remove later
  ul {
    list-style-type: none;
  }
  li {
    float: left;
    margin: 0 5px;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) svg:hover {
        fill: rgba(random(150), random(150), random(150), 1); // make an array of colors soon
      }
    }
  }
  svg {
    fill: rgba(50,50,50,.3);
    width: 25px;
    transition: all .2s linear;
  }
}
