.post {
  min-width: 320px;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  opacity: 0;

  //transform-origin: center center;
  transition: all .3s ease;
  animation-name: post-intro;
  animation-duration: .3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 0;
  &__background {
    position: relative;
    top: 0;
    opacity: .3;
    height: 100%;
    width: 320px;   // serve this image dimension from wordpress
  }
  &:hover {

  //  box-shadow: 0 0 30px $black;
    z-index: 10;
    transform: scaleX(2);
  }
}

@for $i from 1 through 8 {
  $color: 255-($i * 25);
  .post:nth-child(#{$i}) {
    animation-delay: ($i * .2) + s;
    background-color: rgba(random(150), random(150), random(150), 1);
  }
}
